/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --heading-color: #DB00FF;
  --accent-color: #FF0070;
  --paragraph-heading-color: #FF0070;
  --header-info-text-color:#000028;
  --paragraph-text-color: #F1B2CE;
}
