/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg-image: url(../images/cover-image-dark.png);
  --paragraph-heading-color: #FF0070;
  --header-info-text-color:#000028;
  --paragraph-text-color: #F1B2CE;
  --rec-visibility: visible;
  --decoration-color: #FF0070;
  --main-heading-color:#DB00FF;
  --main-heading-shadow: #FF0070;
  --main-bg-clr:#000028;
  --accent-clr: #FF0070;
}
