/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #fff1f7;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --paragraph-heading-color: #353430;
  --paragraph-text-color: #353430;
}
