/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-bg-color);
  font-family: 'IBM Plex Mono', sans-serif;
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  padding: 16px 8px;
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rec__sign {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 38px; 
}

.rec__sign:after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  top: 3px;
  left: 45px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}  

.decorated-zone {
  position: relative;
  min-block-size: 99vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}


.header__theme-menu {
  display: flex;
  justify-self: end;
  margin-top: 75px;
}

.header__theme-menu-list {
  list-style: none;
  gap: 10px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
}

.header__theme-menu-item:hover {
  border: 1px solid #FF007066
}

.header__theme-menu-item:focus {
  text-decoration: underline;
}

.header__theme-menu-button {
  padding-right: 13px;
  padding-left: 13px;
  background-color: transparent;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  color: var(--accent-color);
}

.header__main_heading {
  font-weight: 700;
  font-style: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 65px 10px 55px 10px;
}

.header__info_paragraph {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--paragraph-heading-color);
  margin-bottom: 56px;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.main__section_header {
  color: var(--accent-color);
  font-size: 18px;
}


.main__section_paragraph_header {
  color: var(--paragraph-heading-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
}

.main__section_paragraph {
  color: var(--paragraph-text-color);
  font-family: 'IBM Plex Mono';
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.main__section_gallery {
  list-style: none;
  gap: 10px;
  padding: 34px 10px 40px 10px;
}

.main__section_gallery_item-image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
}

.footer__main_heading {
  font-weight: 700;
  font-style: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  margin: 65px 10px 55px 10px;
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  .main__section_resized {
    display: grid;
    grid-template-columns: min-content 472px;
    gap: 20px;
  }

  .main__section_gallery_item-image {
    width: 100%;
    height: 100%;
  }

  .main__section_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
  }

  .first_image {
    grid-column: 1 / 3;
  }

  .second_image {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .third_image {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .fifth_image {
    grid-column: 2 / 4;
  }
}


@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .main__section_resized_article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}  