/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

body {
  margin: 0;
}

.page {
  background-color: var(--main-bg-color);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  background-attachment: fixed;
}

.header {
  box-sizing: border-box;
  display: grid;
  padding: 10px;
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-height: 668px;
}

.rec__sign {
  position: absolute;
  color: var(--accent-color);
  top: 13px;
  right: 35px;
}

.rec__sign:after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  top: 5px;
  left: 35px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}  

.decorated-zone {
  position: relative;
  min-block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu {
  justify-self: end;
  margin-block: 51px 0;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.header__theme-menu-item:hover {
  border: 1px solid #FF007066
}

.header__theme-menu-item:focus {
  text-decoration: underline;
}

.header__theme-menu-button {
  padding-right: 13px;
  padding-left: 13px;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__main_heading {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  margin-block-start: 50px;
  margin-block-end: 30px;
  margin-inline-start: 8px;
}

.header__info_paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 2px;
  color: var(--header-info-text-color);
  margin-bottom: 56px;
  inline-size: 355px;
  block-size: 117px;
  margin-inline-start: 5px;
}

.title-decor {
  background-color: var(--accent-color);
}


.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 0 10px;
}

.main__section_header {
  color: var(--paragraph-heading-color);
  font-size: 18px;
  margin-block-start: 7px;
  letter-spacing: 1px;
}

.main__section_paragraph_header {
  color: var(--header-info-text-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 23.4px;
  max-inline-size: 355px;
}

.main__section_paragraph {
  color: var(--paragraph-text-color);
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  font-size: 18px;
  padding-left: 2px;
  text-align: left;
  align-content: start;
}

.section_header_how {
  font-weight: 400;
}

.article_how {
 margin-block-start: 22px;
}

.main__section_link {
  text-decoration: none;
}

.main__section_link:hover {
  text-decoration: underline;
}

.main__section_link:focus {
  outline: 0;
}

.main__section_link:focus-visible {
  outline: 1px solid currentColor;
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.main__section_img_gallery {
  margin-block-start: -14px;
}

.main__section_gallery {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
  padding: 10px 0 0 0;
  margin-block-start: -10px;
  margin-block-end: 0;
}

.main__section_gallery_item-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  place-items: center;
  min-block-size: 668px;
  margin-block-start: 35px;
}

.footer__main_heading {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 65px 10px 55px 10px;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  
  .main {
  display: grid;
  gap: 50px;
  padding: 40px 20px 50px 20px;
  }

  .header {
    box-sizing: border-box;
    display: grid;
    padding: 10px 10px 10px 0;
    background-image: var(--main-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1024px;
  }

  .rec__sign {
    position: absolute;
    color: var(--accent-color);
    top: 21px;
    right: 50px;
  }

  .rec__sign:after {
    position: absolute;
    content: '';
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    top: 5px;
    left: 38px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }

    .decorated-zone::before {
    content: '';
    position: absolute;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    inline-size: 25px;
    block-size: 25px;
    inset-inline-end: 0;
    inset-block-start: 0;
    top: 9px;
    right: 9px;
  }

  .decorated-zone::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    inline-size: 25px;
    block-size: 25px;
    inset-block-end: 0;
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    margin-block-start: 168px;
    margin-inline-end: 15px;
  }

  .header__main_heading {
    margin-block-start: 40px;
    margin-inline-start: 0px;
  }

  .header__info_paragraph {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 472px);
    margin-block-start: 10px;
    margin-inline-start: 380px;
    line-height: 110%;
  }

  .main__section_paragraph {
  color: var(--paragraph-text-color);
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  font-size: 18px;
  word-wrap: normal;
  }

  .main__section {
    display: grid;
    gap: 20px;
  }

  .main__section_header {
    max-inline-size: 236px;
    padding-top: 15px;
  }

  .main__section_what {
    margin-block-start: 13px;
  }

  .article_what {
    margin-block-start: -30px;
  }

  .main__section_how {
    margin-block-start: 13px;
  }  

   .article_how {
    margin-block-start: 1px;
    grid-column-start: 2;
  }

  .main__section_paragraph_header {
    max-inline-size: 100%;
  }

  .article_why {
    grid-column-start: 2;
  }

  .main__section_gallery_item-image {
    width: 100%;
    height: 100%;
  }

  .main__section_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
    margin-block-start: -20px
  }

  .main__section_img_gallery {
    margin-block-start: 20px;
  }

  .first_image {
    grid-column: 1 / 3;
  }

  .second_image {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .third_image {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .fifth_image {
    grid-column: 2 / 4;
  }

  .footer {
    height: 1024px;
  }
}


@media (min-width: 1024px) {

  .main {
    display: grid;
    gap: 50px;
    padding: 40px 20px 50px 20px;
  }

  .header {
    margin-block-end: 14px;
    min-height: 768px;
  }

  .rec__sign {
    position: absolute;
    color: var(--accent-color);
    top: 23px;
    right: 55px;
  }

  .rec__sign:after {
    position: absolute;
    content: '';
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    top: 5px;
    left: 43px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }

  .decorated-zone {
    position: relative;
    padding: 8px;
    height: 750px;
  }

  .decorated-zone::before {
    content: '';
    position: absolute;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    inline-size: 25px;
    block-size: 25px;
    inset-inline-end: 0;
    inset-block-start: 0;
    top: 19px;
    right: 19px;
  }

  .decorated-zone::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    inline-size: 25px;
    block-size: 25px;
    inset-block-end: 0;
    left: 16px;
    bottom: 15px;
  }

  .header__main_heading {
    margin-block-start: 110px;
    margin-block-end: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__info_paragraph {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    height: 71px;
    margin-block-start: 40px;
    margin-inline-start: 500px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-block-end: 60px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .main__section_header {
    min-width: 315px;
  }

  .main__section_why {
    grid-template-columns: 1fr 2fr;
    margin-block-start: -20px;
    grid-column-gap: 20px;
  }

  .article_what {
    display: grid;
    grid-auto-flow:column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 20px;
    row-gap: 0;
  }

  .main__section_how {
    grid-template-columns: 1fr 2fr;
    margin-block-start: -10px;
    margin-inline-end: 5px;
  }

  .footer__main_heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}  