/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

body {
  margin: 0;
}

.page {
  background-color: var(--main-bg-color);
  --page-font-family: "IBM Plex mono", monospace;
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
}

.header {
  box-sizing: border-box;
  display: grid;
  padding: 10px;
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-height: 668px;
}

.rec__sign {
  position: absolute;
  color: var(--accent-color);
  top: 13px;
  right: 35px; 
}

.rec__sign:after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  top: 5px;
  left: 35px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}  

.decorated-zone {
  position: relative;
  padding: 8px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
  top: 9px;
  right: 9px; 
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
  left: 10px;
  bottom: 8px; 
}

.header__theme-menu {
  justify-self: end;
  margin-block: 51px 0;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.header__theme-menu-item:hover {
  border: 1px solid #FF007066
}

.header__theme-menu-item:focus {
  text-decoration: underline;
}

.header__theme-menu-button {
  padding-right: 13px;
  padding-left: 13px;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__main_heading {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  margin-block-start: 50px;
  margin-block-end: 30px;
  margin-inline-start: 8px;
}

.header__info_paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 2px;
  color: var(--paragraph-heading-color);
  margin-bottom: 56px;
  inline-size: 355px;
  block-size: 117px;
  margin-inline-start: 5px;
}

.title-decor {
  background-color: var(--accent-color);
}


.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 50px 10px;
}

.main__section_header {
  color: var(--accent-color);
  font-size: 18px;
  margin-block-start: 7px;
  letter-spacing: 1px;
}

.main__section_paragraph_header {
  color: var(--paragraph-heading-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 23.4px;
  max-inline-size: 355px;
}

.main__section_paragraph {
  color: var(--paragraph-text-color);
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2px;
  word-spacing: 2.5px;
  margin: 0;
  font-size: 18px;
}

.article_how {
 margin-block-start: 22px;
}

.main__section_link {
  text-decoration: none;
}

.main__section_link:hover {
  text-decoration: underline;
}

.main__section_link:focus {
  outline: 0;
}

.main__section_link:focus-visible {
  outline: 1px solid currentColor;
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.main__section_gallery {
  list-style: none;
  gap: 10px;
  padding: 10px 0 0 0;
  margin: 0;
}

.main__section_gallery_item-image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
}

.footer__main_heading {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  margin: 65px 10px 55px 10px;
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  .main {
  display: grid;
  gap: 50px;
  padding: 40px 20px 50px 20px;
}
  .header {
    box-sizing: border-box;
    display: grid;
    padding: 10px;
    background-image: var(--main-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-height: 1024px;
    margin-block-end: 120px;
  }

  .header__theme-menu {
    margin-block-start: 168px;
    margin-inline-end: 15px;
  }

  .header__main_heading {
    margin-block-start: 160px;
  }

  .header__info_paragraph {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    margin-block-start: 120px;
    margin-inline-start: 370px;
  }

  .main__section {
    display: grid;
    gap: 20px;
  }

  .main__section_header {
    max-inline-size: 236px;
    padding-top: 15px;
  }

  .main__section_what {
    margin-block-start: 13px;
  }

  .article_what {
    margin-block-start: -30px;
  }

  .main__section_how {
    margin-block-start: 13px;
  }  

   .article_how {
    margin-block-start: 1px;
  }

  .main__section_paragraph_header {
    max-inline-size: 100%;
  }

  .article_why {
    grid-column-start: 2;
  }

  .article_how {
    grid-column-start: 2;
  }

  .main__section_gallery_item-image {
    width: 100%;
    height: 100%;
  }

  .main__section_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
    margin-block-start: -20px
  }

  .main__section_img_gallery {
    margin-block-start: 20px;
  }

  .first_image {
    grid-column: 1 / 3;
  }

  .second_image {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .third_image {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .fifth_image {
    grid-column: 2 / 4;
  }

  .footer {
    height: 1024px;
  }
}


@media (width >= 1024px) {

  .main {
    display: grid;
    gap: 50px;
    padding: 40px 10px 50px 10px;
  }

  .header {
    margin-block-end: 14px;
  }

  .rec__sign {
    position: absolute;
    color: var(--accent-color);
    top: 23px;
    right: 55px; 
  }

  .rec__sign:after {
    position: absolute;
    content: '';
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    top: 5px;
    left: 43px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }

  .decorated-zone {
    position: relative;
    padding: 8px;
    height: 750px;
  }

  .decorated-zone::before {
    content: '';
    position: absolute;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    inline-size: 25px;
    block-size: 25px;
    inset-inline-end: 0;
    inset-block-start: 0;
    top: 19px;
    right: 19px; 
  }

  .decorated-zone::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    inline-size: 25px;
    block-size: 25px;
    inset-block-end: 0;
    left: 18px;
    bottom: 1px; 
  }

  .header__main_heading {
    margin-block-start: 0px;
    font-size: 157px;
  }

  .header__info_paragraph {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    height: 71px;
    margin-block-start: 1px;
    margin-inline-start: 500px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .main__section_why {
    grid-template-columns: 1fr 2fr;
  }

  .article_what {
    display: grid;
    grid-auto-flow:column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 20px;
    row-gap: 0;
    margin-block-start: 20;
  }

  .main__section_how {
    grid-template-columns: 1fr 2fr;
    margin-block-start: 0;
  }
  
  .footer__main_heading {
    font-size: 157px;
    padding: 0;
  }
}  