/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.page {
  --page-font-family: "IBM Plex mono", monospace;
  --main-bg-color: #000028;
  --heading-color: #DB00FF;
  --accent-color: #FF0070;
  --paragraph-heading-color: #FF0070;
  --header-info-text-color:#000028;
  --paragraph-text-color: #F1B2CE;
}

