/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.page {
  --page-font-family: "IBM Plex mono", monospace;
  --header-info-text-color:#000028;
  --decoration-color-hover: #FF007066;
}

